{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>Elegir Islas Premium</title>
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

</head>
<body>
   
<nav class="navbar">
    <button class="menu-toggle" onclick="toggleMenu()">☰</button>
    <div class="nav-links" id="navLinks">
        <a href="{% url 'agregar_telefonos' cliente_id=cliente.id %}">Teléfonos</a>
        <a href="{% url 'elegir_plan' cliente_id=cliente.id %}">Plan</a>
        <a href="{% url 'elegir_personal' cliente_id=cliente.id %}">Personal</a>
        <a href="{% url 'elegir_boutique' cliente_id=cliente.id %}">Boutique</a> <!-- NUEVO LINK -->
        <a href="{% url 'elegir_bebidas' cliente_id=cliente.id %}">Bebidas</a>
        <a href="{% url 'elegir_islas' cliente_id=cliente.id %}">Islas</a>
        <a href="{% url 'elegir_islas_premium' cliente_id=cliente.id %}">Islas Premium</a>
        <a href="{% url 'elegir_barra_tragos' cliente_id=cliente.id %}">Barra de Tragos</a>
        <a href="{% url 'elegir_platos' cliente_id=cliente.id %}">Platos</a>
        <a href="{% url 'elegir_postres' cliente_id=cliente.id %}">Postres</a>
        <a href="{% url 'elegir_mesa_dulce_premium' cliente_id=cliente.id %}">Mesa Dulce Premium</a>
        <a href="{% url 'elegir_extras' cliente_id=cliente.id %}">Extras</a>
        <a href="{% url 'elegir_shows' cliente_id=cliente.id %}">Shows</a>
        <a href="{% url 'elegir_recepcion' cliente_id=cliente.id %}">Recepción</a>
        <a href="{% url 'elegir_fin_de_fiesta' cliente_id=cliente.id %}">Fin de Fiesta</a>
    </div>
</nav
 <h1></h1>
 <h1>Islas Premium</h1>
    <form method="post">
        {% csrf_token %}
        <p>Seleccioná las opciones que quieras:</p>
        {% for opcion in islas_premium_posibles %}
            <hr style="width: 100%; border: 1px solid #ffeb3b; margin: 30px auto;" />
            <label>
                <input type="checkbox" name="islas_premium" value="{{ opcion }}"
                       {% if opcion in islas_premium_elegidas %}checked{% endif %}>
                {{ opcion }}
            </label><br/>
        {% endfor %}
        <hr style="width: 100%; border: 1px solid #ffeb3b; margin: 30px auto;" />
        <div style="display: flex; justify-content: center; gap: 20px; margin-top: 20px;">
            <button type="button" onclick="history.back()">← Atrás</button>
            <button type="submit">Continuar</button>
        </div>
    </form>
    <script>
        function toggleMenu() {
          document.getElementById('navLinks').classList.toggle('show');
        }
    </script>
</body>
</html>
